  <div class = "corset">
    <h1> Welcome <%= email %> to your Dashboard</h1>
    <a href="/">Index</a>
    <a href="/logout">Log Out</a>
    <a href="/dashboard/create-lead">Create a Lead</a>

    <ul>
      <h2>Leads:</h2>
      <% leads.forEach((lead) => { %>
        <li>
          <%= lead.firstName %>
        </li>
    <%  }); %>

    </ul>
  </div>
